<!--<div>-->
<!--    <label>-->
<!--        Credit Card Number-->
<!--        <input-->
<!--                name="text"-->
<!--                id="credit-card"-->
<!--                placeholder="Enter your 16-digit card number"-->
<!--                appCreditCard-->
<!--        >-->
<!--    </label>-->
<!--    <label-->
<!--            appTooltip="3 digits, back of ypu card"-->
<!--            #myTooltip="tooltip">-->
<!--        Enter your security code-->
<!--        <span (mouseout)="myTooltip.hide()"  (mouseover)="myTooltip.show()">-->
<!--            (?)-->
<!--        </span>-->
<!--        <input type="text">-->
<!--    </label>-->
<!--</div>-->
<!--<div>-->
<!--    <li *ngFor="let item of items; let i = index;">-->
<!--        {{ i }} Member: {{ item.name | json }}-->
<!--    </li>-->
<!--    <ng-template appMyFor [myForOf]="items" let-item let-i="index">-->
<!--        <li>-->
<!--            {{ i }} Member: {{ item.name | json }}-->
<!--        </li>-->
<!--    </ng-template>-->
<!--</div>-->
